<div class="row">
  <div class="col-12 border rounded ejemplo m-2">
    <h2><small>Examples</small></h2>
    <ul>
      <li>
        <blockquote class="blockquote-reverse">
          マオリ語<b>継承</b>のキーマンに聞いた
          <footer><a href="https://www.nhk.or.jp/hokkaido/articles/slug-n0055dadf6e66">www.nhk.or.jp</a></footer>
        </blockquote>
      </li>
      <li>
        <blockquote class="blockquote-reverse">
          2004年に同法人を立ち上げ、地域の食文化の<b>継承</b>や食育活動に取り組んでいる
          <footer><a
              href="https://www.asahi.com/articles/ASP2S6SM9NDZTLTB00G.html?iref=pc_ss_date_article">www.asahi.com</a>
          </footer>
        </blockquote>
      </li>
      <li>
        <blockquote class="blockquote-reverse">
          君主制をとっている国では、<b>継承</b>をめぐる紛争を防ぐため、<b>継承</b>法を明確に定めていることが多い。しかし、歴史上は数々の<b>継承</b>紛争が生じている。中国王朝はその最たるものであり、非常に多くの事例がある。
          <footer><a
              href="https://ja.wikipedia.org/wiki/%E7%8E%8B%E4%BD%8D%E7%B6%99%E6%89%BF">www.ja.wikipedia.org</a>
          </footer>
        </blockquote>
      </li>
    </ul>
  </div>
</div>