<!-- Nav Bar Start -->
<section class="max-w-1280px mx-auto px-4">
    <nav class="d-flex justify-content-md-start justify-content-center py-4">
      <a href="#">
        <img src="./assets/logo.png" alt="" class="logo">
      </a>
    </nav>
  </section>
  <!-- Nav Bar End -->

<!-- Search Bar Start -->
<Section class="max-w-1280px mx-auto mb-3 -mt-64px">
    <div class="contain-box">
      <form class="row no-gutters">
        <div class="col-lg-8 col-md-7 col-8 px-lg-3 px-sm-2 px-1">
          <input [(ngModel)]="search" class="form-control bg-white rounded-lg shadow border-0 w-100 h-50px px-4 mr-lg-4 mr-2" type="text"
          placeholder="Enter the word you want to search" name="search" id="inputSearch">
        </div>
        <div class="col-lg-4 col-md-5 col-4 px-lg-3 px-sm-2 px-1">
          <button type="button"
            class="btn bg-red rounded-xl h-50px w-100 text-white font-weight-semibold shadow-sm d-flex justify-content-center align-items-center px-lg-5 px-md-4 p-0 boto" (click)=buscar()>
            <span class="ml-2 d-sm-block d-none"><i class="fas fa-search"></i> SEARCH</span>
          </button>
    </div>
  <!-- Search Bar End -->

  <!-- Bottons Start -->
  <div>
    <ul style="list-style: none;" >
      <li  style="float: left;">
        <a [routerLink]="['/exercices/context/', search]" class="my-4 mx-1 btn bg-red rounded-xl h-100px h-3 text-white font-weight-light shadow-sm px-1 boton-ejercicios" style="margin-left: 360px; font-size: x-large; width: 170px; ">
        文脈規定<br>
        Context
        </a>
      </li>
      <li  style="float: left;">
        <a [routerLink]="['/exercices/usage/', search]" class="my-4 mx-1 btn bg-red rounded-xl h-100px h-3 text-white font-weight-light shadow-sm px-1 boton-ejercicios" style="margin-left: 360px; font-size: x-large; width: 170px; ">
          用法<br>
          Usage
          </a>
      </li>
      <li  style="float: left;">
        <a [routerLink]="['/exercices/images/', search]" class="my-4 mx-1 btn bg-red rounded-xl h-100px h-3 text-white font-weight-light shadow-sm px-1 boton-ejercicios" style="margin-left: 360px; font-size: x-large; width: 170px; ">
          画像選択<br>
          Images
          </a>
      </li>
      <li  style="float: left;">
        <a [routerLink]="['/exercices/listening/', search]" class="my-4 mx-1 btn bg-red rounded-xl h-100px h-3 text-white font-weight-light shadow-sm px-1 boton-ejercicios" style="margin-left: 360px; font-size: x-large; width: 170px;">
          聴解<br>
          Listening
          </a>
      </li>
      <li style="float: left;">
        <a [routerLink]="['/exercices/kanji/', search]" class="my-4 mx-1 btn bg-red rounded-xl h-100px h-3 text-white font-weight-light shadow-sm px-1 boton-ejercicios" style="margin-left: 360px; font-size: x-large; width: 170px; background-color: #E16C66;">
          漢字読み<br>
          Kanji reading
          </a>
      </li>
    </ul>
  </div>
  <!-- Bottons End -->
  <!-- Exercices Start -->
  <div *ngIf="tieneKanji" style="padding-left: 10%;">
    <h1 class="display-5 text-paragraph font-weight-normal text-center">引いた言葉の読み方、もう覚えましたか？</h1>
    <h1 class="display-5 text-paragraph font-weight-normal text-center">Have you already memorized the reading of the word you just searched?</h1>

    <h1 class="display-1 text-center" style="color: #707070;">{{palabraPrincipal}}</h1>

    <form class="row no-gutters">
      <div class="col-lg-8 col-md-7 col-8 px-lg-3 px-sm-2 px-1">
        <input [(ngModel)]="answer" class="form-control bg-white rounded-lg shadow border-0 w-100 h-50px px-4 mr-lg-4 mr-2" type="text"
        placeholder="Type it here..." name="answer" id="inputAnswer">
      </div>
      <button  (click)=checkSiEstaBien() type="button" style="font-size: large; margin-left: 5%;" class="btn bg-red rounded-xl h-50px w-100 text-white font-weight-semibold shadow-sm d-flex justify-content-center align-items-center px-lg-5 px-md-4 p-0 col-lg-1 boto"><i class="fas fa-spell-check"></i></button>
      <img id="correcto" class="col-lg-1" style="padding: 10px; margin-left: 27px; padding-top: 0px; display: none;" src="../../assets/correcto.png" alt="">
      <img id="incorrecto" class="col-lg-1" style="padding: 10px; margin-left: 27px; padding-top: 0px; display: none;"  src="../../assets/cruz.png" alt="">
    </form>
  </div>
  <!-- Exercices End -->
  <!-- Error Start -->
  <div *ngIf="tieneKanji==false" style="padding: 5% 0% 5% 20%;">
    <h1 class="display-5 text-paragraph font-weight-normal text-center">貴方の検索に漢字がありません</h1>
    <h1 class="display-5 text-paragraph font-weight-normal text-center">There is no kanji in this word</h1>
  </div>
  <!-- Error End -->