<div class="container-flow">
    <div class="row">
        <div class="col-2">
            <img src="assets/logo.png" class="logo" alt="">
        </div>
    <app-buscador class="col"></app-buscador>
    <div class="col-2"></div>
</div>


    <div class="row">
        <div class="col-2"></div>
        <div class="col">
            <div class="row">
                <div class="col-8">
                    <div class="row">
                        <app-definicion class="col-12"></app-definicion>
                    </div>
                    <div class="row">
                        <app-ejemplos class="col-12"></app-ejemplos>
                    </div>
                </div>
                <div class="col-4">
                    <a class="twitter-timeline" href="https://twitter.com/TwitterDev" data-width="300"
                    data-height="500">
                    Tweets by @TwitterDev
                    </a>
                </div>
            </div>
            <div class="row">

            </div>

        </div>
        <div class="col-2"></div>
    </div>
</div>
<router-outlet></router-outlet>