<div class="row">
    <div class="col-2">
        <img src="assets/logo.png" class="logo" alt="">
        <h2 class="text-center mt-3">Rei</h2>
    </div>
    <div class="col-8 align-self-center">
        <app-buscador></app-buscador>
        <app-definicion></app-definicion>
        <app-ejemplos></app-ejemplos>
        <a class="twitter-timeline" href="https://twitter.com/TwitterDev" data-width="300" data-height="300">
            Tweets by @TwitterDev
        </a>
    </div>
</div>
<router-outlet></router-outlet>