body {
    font-family: 'Montserrat', sans-serif;
    
}

/* ==== Colors === */

/* bg-color */

.bg-red {
    background: #BC2C25;
}

.bg-red2 {
    background: #b91e15;
}

/* Text Color */

.text-paragraph {
    color: #707070;
}

/* Custom Width */

.w-36px {
    width: 36px;
}

.w-260px {
    width: 260px;
}

/* Custom Height */

.h-36px {
    height: 36px;
}

.h-50px {
    height: 50px;
}

.h-154px {
    height: 154px;
}

/* Max Width */

.max-w-288px {
    max-width: 288px;
}

.max-w-1280px {
    max-width: 1280px;
}
/* Button */

.ml-2{
    font-size: x-large;
}

/* Margin */

@media (min-width: 768px) {
    .-mt-64px {
        margin-top: -64px;
    }
}

/* Font Weight */

.font-weight-semibold {
    font-weight: 600;
}

.font-weight-normal{
    font-weight: 400;
}

h5{
    font-weight: 100;
}

.nav-link{
    font-weight: 100;
    text-decoration: underline;
    text-decoration-thickness: 5%;
}

/* Logo Size */

.logo {
    height: 150px;
    width: 150px;
    margin-left: -20%;
}

.contain-box {
    margin: 32px 32px;
}

@media (min-width: 768px) {
    .contain-box {
        margin: 0px 170px;
    }
}

/* Borders */

.border-left-5 {
    border-left: 5px solid;
}

.border-color {
    border-color: #D3D3D3;
}

/* Border Radius */

.rounded-xl {
    border-radius: 10px;
}

/* Image Object */

.object-cover {
    object-fit: cover;
}

.slick-dots {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 1rem 0;
    list-style-type: none;
}

.slick-dots li {
    margin: 0 0.25rem;
}

.slick-dots button {
    display: block;
    width: 1rem;
    height: 1rem;
    padding: 0;
    border: 1px solid #707070;
    border-radius: 100%;
    background-color: #BC2C25;
    opacity: 50%;
    text-indent: -9999px;
}

.slick-dots li.slick-active button {
    background-color: #BC2C25;
    opacity: 100%;
}

/* YoufGlish */
.ygSearch{
    display: none !important;
}


/* Loader */
.loader-container{
    position: fixed;
    width: 100%;
    z-index: 99;
}

/*!
 * Load Awesome v1.1.0 (http://github.danielcardoso.net/load-awesome/)
 * Copyright 2015 Daniel Cardoso <@DanielCardoso>
 * Licensed under MIT
 */
 .la-ball-clip-rotate,
 .la-ball-clip-rotate > div {
     position: relative;
     -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
             box-sizing: border-box;
 }
 .la-ball-clip-rotate {
     display: block;
     font-size: 0;
     color: #BC2C25;
 }
 .la-ball-clip-rotate.la-dark {
     color: #333;
 }
 .la-ball-clip-rotate > div {
     display: inline-block;
     float: none;
     background-color: currentColor;
     border: 0 solid currentColor;
 }
 .la-ball-clip-rotate {
     width: 32px;
     height: 32px;
 }
 .la-ball-clip-rotate > div {
     width: 32px;
     height: 32px;
     background: transparent;
     border-width: 2px;
     border-bottom-color: transparent;
     border-radius: 100%;
     -webkit-animation: ball-clip-rotate .75s linear infinite;
        -moz-animation: ball-clip-rotate .75s linear infinite;
          -o-animation: ball-clip-rotate .75s linear infinite;
             animation: ball-clip-rotate .75s linear infinite;
 }
 .la-ball-clip-rotate.la-sm {
     width: 16px;
     height: 16px;
 }
 .la-ball-clip-rotate.la-sm > div {
     width: 16px;
     height: 16px;
     border-width: 1px;
 }
 .la-ball-clip-rotate.la-2x {
     width: 64px;
     height: 64px;
 }
 .la-ball-clip-rotate.la-2x > div {
     width: 64px;
     height: 64px;
     border-width: 4px;
 }
 .la-ball-clip-rotate.la-3x {
     width: 96px;
     height: 96px;
 }
 .la-ball-clip-rotate.la-3x > div {
     width: 96px;
     height: 96px;
     border-width: 6px;
 }
 /*
  * Animation
  */
 @-webkit-keyframes ball-clip-rotate {
     0% {
         -webkit-transform: rotate(0deg);
                 transform: rotate(0deg);
     }
     50% {
         -webkit-transform: rotate(180deg);
                 transform: rotate(180deg);
     }
     100% {
         -webkit-transform: rotate(360deg);
                 transform: rotate(360deg);
     }
 }
 @-moz-keyframes ball-clip-rotate {
     0% {
         -moz-transform: rotate(0deg);
              transform: rotate(0deg);
     }
     50% {
         -moz-transform: rotate(180deg);
              transform: rotate(180deg);
     }
     100% {
         -moz-transform: rotate(360deg);
              transform: rotate(360deg);
     }
 }
 @-o-keyframes ball-clip-rotate {
     0% {
         -o-transform: rotate(0deg);
            transform: rotate(0deg);
     }
     50% {
         -o-transform: rotate(180deg);
            transform: rotate(180deg);
     }
     100% {
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
     }
 }
 @keyframes ball-clip-rotate {
     0% {
         -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
              -o-transform: rotate(0deg);
                 transform: rotate(0deg);
     }
     50% {
         -webkit-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
              -o-transform: rotate(180deg);
                 transform: rotate(180deg);
     }
     100% {
         -webkit-transform: rotate(360deg);
            -moz-transform: rotate(360deg);
              -o-transform: rotate(360deg);
                 transform: rotate(360deg);
     }
 }