.logo{
    height: 150px;
    width: 150px;
    margin-top: 40px;
    margin-left: 40px;
}

.rejilla {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #BC2C25 !important;
}
.buscador{
margin-top: 145px;
}

.cajita {
	box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.1);
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	background-color:#fff;
	margin:0px auto;
	border-left:2px solid #fff;
	border-right:2px solid #fff;
}