<!-- Nav Bar Start -->
<section class="max-w-1280px mx-auto px-4">
    <nav class="d-flex justify-content-md-start justify-content-center py-4">
      <a href="#">
        <img src="./assets/logo.png" alt="" class="logo">
      </a>
    </nav>
  </section>
  <!-- Nav Bar End -->
  
  <!-- Search Bar Start -->
  <Section class="max-w-1280px mx-auto mb-3 -mt-64px">
    <div class="contain-box">
      <form class="row no-gutters">
        <div class="col-lg-8 col-md-7 col-8 px-lg-3 px-sm-2 px-1">
          <input [(ngModel)]="search" class="form-control bg-white rounded-lg shadow border-0 w-100 h-50px px-4 mr-lg-4 mr-2" type="text"
          placeholder="Enter the word you want to search" name="search" id="inputSearch">
        </div>
        <div class="col-lg-4 col-md-5 col-4 px-lg-3 px-sm-2 px-1">
          <button type="button"
            class="btn bg-red rounded-xl h-50px w-100 text-white font-weight-semibold shadow-sm d-flex justify-content-center align-items-center px-lg-5 px-md-4 p-0" (click)=buscar()><span
              class=" bg-red2 w-36px h-36px d-flex align-items-center justify-content-center rounded"></span>
            <span class="ml-2 d-sm-block d-none"><i
                class="fas fa-search"></i> SEARCH</span></button>
    </div>
  <!-- Search Bar End -->
  
  <!-- Main Box Start -->
  <Section class="max-w-1280px mx-auto">
    <div class="">
      <div class="row no-gutters">
        <div class="col-lg-8 px-lg-3 px-sm-2 px-1 py-4">
          <div class="bg-white rounded-xl shadow-lg px-5 py-4 mb-4">
            <div class="row align-items-center">
              <div class="col-xl-6">
                <h1 class="display-1 text-paragraph font-weight-normal text-center">瞳孔</h1>
                <h2 class="text-paragraph text-center">どうこう</h2>
              </div>
              <div class="col-xl-6 text-xl-left text-center">
                <h2 class="text-paragraph text-break mb-3">
                    PUPIL (OF THE EYE)
                </h2>
                <h2 class="text-paragraph text-break">PUPILA
                </h2>
              </div>
            </div>
          </div>
        
          <div class="bg-white rounded-xl shadow-lg px-5 py-4">
            <h2 class="text-paragraph mb-3">Usage</h2>
            
          </div>
        </div>
        <div class="col-lg-4 px-lg-3 px-sm-2 px-1 py-4">
          <div class="bg-white rounded-xl shadow-lg overflow-hidden mb-4 pb-3">
            <h2 class="text-paragraph mb-3 ml-3 mt-4 nombreRanking">Ranking</h2>
            <h5 class="text-paragraph mb-0 lista_palabras">
                1.  継承 <br>
                2.　支配 <br>
                3.　食べる <br>
                4.　しっとり <br>
                5.　染み込む <br>
                6.　誘惑 <br>
                7.　分配 <br>
                8.　均等 <br>
                9.　先入観 <br>
                10.　切ない <br>
              </h5>
          </div>
          <div class="bg-white rounded-xl shadow-lg px-2 py-3">
            <h2 class="text-paragraph px-3">Twitter</h2>
            <script src="https://apps.elfsight.com/p/platform.js" defer></script>
            <div class="elfsight-app-9b6d4575-3453-4614-836f-b00c57272d7e"></div>
          </div>
        </div>
      </div>
    </div>
  </Section>
  <!-- Main Box End -->
  